:root {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(0, 53, 78);
  letter-spacing: .04rem;
}

.App {
  margin: auto;
  padding: .1px;
  min-width: 40rem;
  max-width: 60rem;
  background: rgb(0, 53, 78);

  display: flex;
  flex-direction: column;
  gap: .4rem;
}